.App {
  display: grid;
  width: 300px;
  margin: auto;
}

h1 {
  text-align: center;
  border: 2px black solid;
  margin: 0;
  padding: 10px;
}

p {
  border: 2px black solid;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

p:active {
  background-color: black;
  color: white;
}

ul,
h2 {
  border: 2px black solid;
  margin: 0;
  padding: 10px;
}

li {
  list-style-type: none;
}
